    {{> utils/menu}}
    <div class="container-fluid">
      {{> utils/promo}}
      <div class="row">
        <div class="col-sm-6 col-md-3 paneli" onclick="newDoc('news')">
            <h4>The Terrain 0.9.9!</h4>
            <p>We have released the 0.9.9 version of The Terrain!</p>
            <p>Author: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Date: 2016-01-31</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli1" onclick="newDoc('news')">
            <h4>What's The Terrain?</h4>
            <p>So you have joined The Terrain but what is it?</p>
            <p>Author: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Date: 2016-01-30</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli" onclick="newDoc('tutorials')">
            <h4>Terrain Builder Basics</h4>
            <p>In this tutorial we go through the basics of TB.</p>
            <p>Author: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Date: 2016-01-31</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli1" onclick="newDoc('tutorials')">
            <h4>PboProject Basics</h4>
            <p>In this tutorial we go through the basics of PboProject.</p>
            <p>Author: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Date: 2016-01-30</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 paneli1" onclick="newDoc('resources')">
            <h4>Custom Road Pack</h4>
            <p><a>Download</a></p>
            <p>Submitted by: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli" onclick="newDoc('resources')">
            <h4>Stuart Island</h4>
            <p><a>Download</a></p>
            <p>Submitted by: <a href="https://theterrain.glitch.me/profile/IgRRrhlNJo2NyT0f">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 panel-img-div" onclick="newDoc('screenshots')">
            <img src='https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f46f8ce349be6232d8759a6c8416d37' />
            <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
        </div>
        <div class="col-sm-6 col-md-3 panel-img-div" onclick="newDoc('screenshots')">
            <img src='https://images.unsplash.com/photo-1441644599508-24ae08965c5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=86ac0e8a9fa4f935beafaf83148abd62' />
            <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
        </div>
      </div>