    {{> utils/menu}}
    {{> modals/resources}}
    <div class="container-fluid">
      {{> utils/promo}}
    <div class="row">
        <div class="col-sm-12 col-md-12 pt-1 pb-1" onclick="modalFire('resources')"><a href="#"><p class="mb-0 text-center">Submit a resource</p></a></div>
    </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 paneli">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli1">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli1">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 paneli1">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli1">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
        <div class="col-sm-6 col-md-3 paneli">
            <h4>Stuart Island</h4>
            <p><a target="_blank" href="http://www.armaholic.com/page.php?id=28546">http://www.armaholic.com/page.php?id=28546</a></p>
            <p>Submitted by: <a href="">moderator</a><br>Author: Kerkkoh</p>
        </div>
      </div>