    {{> utils/menu}}
    {{> modals/screenshots}}
    <div class="container-fluid">
      {{> utils/promo}}
    <div class="row">
        <div class="col-sm-12 col-md-12 pt-1 pb-1" onclick="modalFire('screenshots')"><a href="#"><p class="mb-0 text-center">Submit a screenshot</p></a></div>
    </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/Rfflri94rs8" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/pQMM63GE7fo" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/GraajutbJHE" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/5oTfj9fCvVo" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/a2zdgkDzFo8" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/dGDmRqzPID0" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/tuSEBUYNwjg" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
          <div class="col-sm-6 col-md-3 panel-img-div">
              <img src="https://source.unsplash.com/CAbbMdcenUQ" />
              <p class="img-meta">Author: <a href="https://unsplash.com">Unsplash</a></p>
          </div>
        </div>