    {{> utils/menu}}
    <div class="container-fluid">
		 <div class="row">
			<div class="col-md-12 cover-img-div">
				<img class="img-fluid screenshot" src="https://source.unsplash.com/4k-U1Wp2d00/3680x2456" />
				<h1 class="text-center" id="love"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h1>
				<p class="img-meta">Author: <a href="">moderator</a></p>
				<p class="img-meta-right"><a class="btn btn-danger btn-sm text-center" href="#" id="lovebtn">&lt;3  145</a></p>
			</div>
		</div>
