    {{> utils/menu}}
    <div class="container-fluid">
      {{> utils/promo}}
      <div class="row">
        <div class="col-sm-12 col-md-12 articletop">
            <h2 class="articleheading">Terms Of Service</h2>
            <h4 class="articledesc">&nbsp;</h4>
        </div>
        <div class="col-sm-12 col-md-12 articlemain">
            <strong>Note</strong><br>
            <p>This TOS can be modified at any given time. Modifications will be announced to the users via email and the site itself. The Terrain can not be held responsible if an user doesn't read the updated terms of service and breaks it.</p>
            
            <strong>1. Important terms</strong><br>
            <p>The user of our service will be referred as "User" or "The User". The laws of the user's country will be referred as "Local laws".</p>

            <strong>2. Restrictions</strong><br>
            <p>Every user is responsible for all their activity on The Terrain. Any fraudulent, abusive or otherwise illegal activity is not tolerated and will cause the termination of user's account or legal action against the user. Use of The Terrain to violate any of the Finnish or local laws is strictly forbidden and will result in the termination of user's account or legal action against the user. Submitting screenshots or files containing anything illegal, disturbing or sexual is strictly forbidden and will result in the termination of user's account or legal action against the user.</p>

            <strong>3. Privacy</strong><br>
            <p>The Terrain will not share any of the user's information to anybody and will protect it by all means. We show the username of user's account on their profile page with their picture and a short description submitted by user when registering. The Terrain uses Google Analytics on its pages to follow the site's activity. The Terrain logs IP info on some activities on the site to keep track of possible intrusion or breaking of TOS attempts.</p>

            <strong>4. Responsibility</strong><br>
            <p>The Terrain can not be held responsible for any damage that may happen to the user or user's hardware or software during the usage of this site.</p>
        </div>
      </div>