    <div class="modal fade" id="modalscreenshots" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body head-login"><h1 class="text-center resetpadmarg">Submit a screenshot</h1></div>
          <div class="modal-body main-login">
            <form action="resources" method="post" role="form">
              <div class="form-group">
                <label for="screenshots-path">URL Path to your image</label>
                <input type="text" class="form-control" id="screenshots-path" placeholder="URL Path to your image" required>
              </div>
              <div class="form-group">
                <label for="screenshots-name">Name of your screenshot</label>
                <input type="text" class="form-control" id="screenshots-name" placeholder="Name of your screenshot" required>
              </div>
              <p>Keep in mind that our <a style="color: white !important; text-decoration: underline;" href="tos" target="_blank">terms of service</a> forbids you from submitting illegal, disturbing or sexual images.</p>
              <input class="btn btn-lg login-button" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="screenshot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content popupw">
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>