  <div class="modal fade" id="modaltutorials" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body head-login"><h1 class="text-center resetpadmarg">Add a tutorial</h1></div>
              <div class="modal-body main-login pb-4">
                  <form id="tutorialForm" method="post" role="form">
                      <div class="form-group">
                        <label for="tutorials-topic">Topic</label>
                        <input type="text" class="form-control" id="tutorials-topic" placeholder="Topic" required>
                      </div>
                      <div class="form-group">
                        <label for="tutorials-description">Description</label>
                        <input type="text" class="form-control" id="tutorials-description" placeholder="Description" required>
                      </div>
                      <div class="form-group">
                        <label for="tutorials-content">Content</label>
                        <textarea type="text" class="form-control" id="tutorials-content" placeholder="Content" required></textarea>
                      </div>
                      <input class="btn btn-lg login-button" type="submit" value="Submit">
                  </form>
              </div>
          </div>
      </div>
  </div>